
.nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100%;
}

.nav-links a {
    font-size: 16px;
}

.nav-links {
    display: flex;
    width: 100%;
    gap: 32px;
}

.nav-end {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    gap: 16px;
}

.login {
    display: flex;
    align-items: center;
    width: auto;
    gap: 8px;
    padding: 8px 8px 8px 16px;
    width: fit-content;
    height: fit-content;
    background-color: #f2f2f2;
    border-radius: 100px;
    color: #0A0A0A;
}

.profile-img {
    width: 30px;
    height: 30px;
    background-color: #797979;
    border-radius: 100%;
}

