

.chip {
    width: fit-content;
    height: fit-content;
    padding: 6px 12px;
    color: rgba(55, 65, 81, 1);
    font-size: 14px;
    font-weight: 400;
    border-radius: 100px;
    border: 1px solid rgba(229, 231, 235, 1);
    box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);

}