
#container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Wraps all searchbar sections */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    background-color: #fff;
    padding: 8px 8px 8px 32px;
    gap: 32px;
    border-radius: 100px;
    color: #000;
}



.locations .header h1,
.check-in .header h1,
.checkout .header h1,
.guests .header h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
}

.locations .header p,
.check-in .header p,
.checkout .header p,
.guests .header p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6B7280;
}

/* Sections layout */
.locations,
.check-in,
.checkout,
.guests {
    display: flex;
    align-items: center;
    gap: 32px;
    cursor: pointer; 
}


.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(222, 49, 81, 1);
    color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 100%;
}



.separator {
    height: 32px;
    width: 1px;
    background-color: rgba(229, 231, 235, 1);
}

.dropdown-modal {
    position: absolute;
    background: white;
    border-radius: 12px;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 14px;
    z-index: 100;
}

/* Dropdown items */
.dropdown-modal p {
    padding: 10px 15px;
    margin: 0;
    cursor: pointer;
    transition: 0.2s ease;
}

.dropdown-modal p:hover {
    background-color: #f7f7f7;
}



.guest-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.guest-row button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #ededed;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
