

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: #000;

}
.hero-inner {
    padding: 80px;
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: url("/hero.jpg") center no-repeat;
    background-size: cover;
    position: relative;

}

.hero .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10em);
    gap: 12px;
}

.header h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 56px;

}

button {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}


.hero button {
    width: fit-content;
    padding: 16px 24px;
    border-radius: 100px;
    border: none;


}

 button:hover {
    transform: scale(0.95);

}

 button:active {
    transform: scale(0.9);
}


.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; 
    background-color: #fff;
    padding: 96px 80px;
    gap: 96px;
    color: #000;
}

.next-trips, .discover, .shop-airbnb, .questions {
    height: fit-content;
}

.carousel {
    display: flex;
    gap: 24px;
}

.section .section-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 30px;    
    line-height: 44px;
    margin-bottom: 16px;
}

.section .next-trips p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 260px;      
    height: 360px;     
    overflow: hidden;
    border-radius: 8px;
    color: #fff;
    background: #000;
}


.card .card-hero {
    width: 100%;
    height: 55%;        
    background: url("/hero.jpg") center no-repeat;
    background-size: cover;
}

.card .card-info {
    width: 100%;
    height: 45%;
    padding: 16px 14px; 
    background-color: rgba(204, 45, 74, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.card .card-info h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;   
    line-height: 1.3;
}


.card .card-info p {
    font-size: 14px;  
    opacity: 0.85;
}


.discover .card-hero {    
    width: 628px;
    height: 628px;
    gap: 24px;
    border-radius: 8px;
    padding: 80px;
    background: url("/hero.jpg") center no-repeat;
    background-size: cover;
}


.discover .card-hero .card-info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: #fff;
}

.card-hero .card-info h1 {
    max-width: 6em;
    font-family: Inter;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;

}

.discover .card-hero button, .shop-airbnb .header button {
    width: fit-content;
    height: fit-content;
    gap: 8px;

    border: none;
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #fff;
}


.shop-airbnb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop-airbnb .header {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.shop-airbnb .header button {
    background-color: #000;
    color: #fff;
    font-family: Inter;
    font-weight: 500;
    font-size: 11px;


}

.shop-airbnb .header h1 {
    max-width: 7em;
    font-family: Inter;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;

}



.questions {
    width: 100%;
    height: calc(100vh - 15em);
    background: url("/faq.jpg") center no-repeat;
    background-size: cover;
    padding: 80px;
    color: #fff;
}

.questions .questions-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.questions .questions-header h1 {
    max-width: 6em;
    font-family: Inter;
    font-weight: 500;
    font-size: 70px;

}

.questions .questions-header button {
    width: fit-content;
    height: fit-content;
    gap: 8px;
    border: none;
    border-radius: 8px;
    padding: 16px 24px;

    font-family: Inter;
    font-weight: 500;
    font-size: 12px

}



.pre-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 32px;
}


.pre-footer .section-header .footer-nav {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    height: fit-content;

}

.pre-footer .section-header .footer-nav h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
}
.pre-footer .destinations .location h1, .location p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
}


.location {
    width: 100%;
}

.location p {
    opacity: 50%;
}

.destinations {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  gap: 1.5rem;
}