

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: #000;

}
.hero-inner {
    padding: 80px;
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: url("/hero.jpg") center no-repeat;
    background-size: cover;
    position: relative;

}

.hero .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10em);
    gap: 12px;
}

.header h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.hero button {
    width: fit-content;
    padding: 16px 24px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.hero button:hover {
    transform: scale(0.95);

}

.hero button:active {
    transform: scale(0.9);
}


.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh; 
    background-color: #fff;
    padding: 96px 80px;
    gap: 96px;
    color: #000;
}

.next-trips, .discover, .shop-airbnb, .questions {
    height: fit-content;
}

.carousel {
    display: flex;
    gap: 24px;
}

.section .section-title {
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;    
    line-height: 44px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.section .next-trips p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0%;
    vertical-align: middle;
}

.card {
    display: flex;
    flex-direction: column;
    width: 260px;      
    height: 360px;     
    overflow: hidden;
    border-radius: 8px;
    color: #fff;
    background: #000;
}


.card .card-hero {
    width: 100%;
    height: 55%;        
    background: url("/hero.jpg") center no-repeat;
    background-size: cover;
}

.card .card-info {
    width: 100%;
    height: 45%;
    padding: 16px 14px; 
    background-color: rgba(204, 45, 74, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.card .card-info h1 {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;   
    line-height: 1.3;
}


.card .card-info p {
    font-size: 14px;  
    opacity: 0.85;
}





.discover .card-hero {    
    width: 628px;
    height: 628px;
    gap: 24px;
    border-radius: 8px;
    background: url("/hero.jpg") center no-repeat;
    background-size: cover;
}


