

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: #000;

}
.hero-inner {
    padding: 80px;
    width: 100%;
    height: 100%;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: url("/hero.jpg") center no-repeat;
    background-size: cover;
    position: relative;

}

.hero .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10em);
    gap: 12px;
}

.header h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 56px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.hero button {
    width: fit-content;
    padding: 16px 24px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.hero button:hover {
    transform: scale(0.95);

}

.hero button:active {
    transform: scale(0.9);
}


.next-trips {
    width: 100%;
    min-height: 100vh; 
    background-color: #fff;
}