.host-header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.host-user, .host-details {
    display: flex;
    align-items: center;
    gap: 16px;
}

.host-details h1 {
    font-weight: 400;
    font-size: 14px;
}

.host-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 440px;
}


.host-description h1 {
    font-weight: 500;
    font-size: 16px;
}

.host-description p {
    font-weight: 400;
    font-size: 16px;
}

.contact-host {
    width: 150px;
    height: 56px;
    gap: 8px;
    padding: 16px 24px;
    border-radius: 8px;
    border-width: 1px;
    background: none;
    font-weight: 500;
    font-size: 16px;

}


.headsup {
    display: flex;
    gap: 16px;
}

.headsup p {
    width: 280px;
}

