.listing-container {
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 100vh;
    gap: 24px;
}

.listing-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 24px;
}




.listing-chips {
    display: flex;
    gap: 8px;
}

h1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
}

p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    color: rgba(107, 114, 128, 1);
}

hr {
    border: 0.5px solid rgba(229, 231, 235, 1);
}