
.things-to-know {
    padding: 24px 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #222222;
}


.tk-main-header {
    font-size: 1.5em; 
    font-weight: 600;
    margin-bottom: 24px;
}


.tk-content-grid {
    display: grid;
 
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
}



.tk-sub-header {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 16px;
}


.tk-list {
    display: flex;
    flex-direction: column;
    gap: 16px; 
}


.tk-list-item {
    display: flex;
    align-items: flex-start; 
    font-size: 0.875em; 
    font-weight: 400;
}

/* The Icon */
.tk-icon {
    font-size: 1.285em; 
    margin-right: 12px;
    flex-shrink: 0;
    margin-top: 2px; 
}


.tk-cancellation-text {
    font-size: 0.875em; 
    font-weight: 600; 
    text-decoration: underline; 
    margin-bottom: 8px; 
}


.tk-show-more-link {
    font-size: 0.875em; 
    font-weight: 600;
    text-decoration: underline;
    color: #222222; 
    cursor: pointer;
    margin-top: 16px; 
}