
.create-container {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

.title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}


.form-grid {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group,
.description-group,
.amenities-group,
.images-group {
  text-align: left;
}

label {
  display: block;
  font-size: 12px;
  margin-bottom: 6px;
  color: #4a4aff;
}


input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}


.row-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.small-group {
  flex: 1;
}


textarea {
  height: 120px;
  resize: none;
}


.amenities-row {
  display: flex;
  gap: 10px;
}

.add-btn {
  width: 70px;
  background-color: #3f4bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-btn {
  background-color: #3f4bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px 0;
  cursor: pointer;
}

.images-box {
  width: 100%;
  height: 120px;
  resize: none;
}


.actions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.create-btn {
  background-color: #3f4bff;
  color: #fff;
  border: none;
  padding: 12px 70px;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #d13245;
  color: white;
  padding: 12px 70px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
