.table-container {
  width: 100%;
  overflow-x: auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
  padding: 40px;
}

.bookings-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.bookings-table th,
.bookings-table td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 12px 16px;
}

.bookings-table th {
  background-color: #f3f4f6;
  font-weight: 600;
}

.bookings-table tr:nth-child(even) {
  background-color: #fafafa;
  
}

.bookings-table tr:hover {
  background-color: #f0f4ff;
  outline: 2px solid #3b82f6;
}

.delete-btn {
    width: 144px;
    height: 44px;
    gap: 8px;
    border-radius: 8px;
    border: none;
    background-color: #DE3151;
    color: white;
    padding: 12px 16px;
}

.delete-btn:hover {
  background-color: #991b1b;
}
