

.container {
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: auto;
   gap: 16px;
   background-color: #000;
   color: #fff;
}

a {
   color: #fff;
   text-decoration: none;
}
