

.container {
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: auto;
   gap: 16px;
   background-color: #000;
   color: #fff;
}

a {
   color: #fff;
   text-decoration: none;
}


footer {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 100%;
   height: calc(100vh - 30em);
   background-color: #fff;
   padding: 64px 160px 24px;
   color: #000;
}

footer .footer-info {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 24px;
}

footer .footer-nav {
   display: flex;
   flex-direction: column;
   gap: 16px;
}

footer .footer-nav h1 {
   font-family: Inter;
   font-weight: 500;
   font-size: 16px;
}

footer .footer-nav p {
   font-family: Inter;
   font-weight: 400;
   font-size: 14px;
   opacity: 50%;
}

.kicker {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.left, .right, .language, .socials {
   display: flex;
   align-items: center;
   gap: 16px;
   font-weight: 400;
   font-size: 14px;
   color: rgba(75, 85, 99, 1);

}

.language {
   gap: 4px;
}
