

.container {
   display: flex;
   flex-direction: column;
   width: 100vw;
   height: 100vh;
   padding: 16px 80px;
   background-color: #0A0A0A;
   color: white;
}

a {
   color: white;
   text-decoration: none;
}